.main_screen{
    display: none;
    overflow-y: hidden;
}

.main_screen .material h2{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.noContent h3{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size: 1.5rem;
    margin: 0 5%;
    padding: 30px 0;
    border-radius: 10px;
}

.certificate-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Show 3 images at a time */
    margin-top: 20px;
}

.certificate {
    display: flex;
}

.certificate-img {
    width: 400px; /* Adjust the size of each image */
    height: 300px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 0 10px; /* Space between images */
    transform: perspective(1000px) rotateY(0deg); /* 3D effect */
    opacity: 0.9;
}

.project{
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 2%;
}

.project_card{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.project_card img{
    width: 100%;
    height: 13vh;
}

.contact_cards{
    margin: 3% 2% 0 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    padding: 20px 10px 0 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin-top: 2%;
}

.contact_card h3{
    text-align: center;
    color: aliceblue;
    font-size: max(2vw);
    margin-top: 10px;
}

.contact_cards{
    gap: 10%;
}

.contact_card{
    width: 15vw;
}

.contact_card img{
    align-self: center;
    max-width: 6vw;
    max-height: 6vw;
    padding: 10px;
}

.contact_card:hover h3{
    background: linear-gradient(180deg, springgreen, rgb(65, 144, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s;
}