.navbar{
    display: flex;
    position: fixed;
    width: 96vw;
    justify-content: space-between;
    justify-items: center;
    padding: 15px 2%;
    font-size: 1.6vw;
    background-color: black;
    box-shadow: 0 2px 4px aliceblue;
    z-index: 3;
}

.navbar a{
    text-decoration: none;
    font-family:"Cabin", sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    color: inherit;
    transition: 0.8s;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    color: #000;
    border-radius: 50px;
    transition: 0.8s;
}

.navbar .home {
    margin-right: auto;
}

.navbar .contact {
    margin-left: auto;
}