body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: aliceblue;
    user-select: none;
}
.background{
    position: fixed;
    opacity: 0.18;
    height: 100vh;
    width: 100%;
    z-index: -1;

}
.splash_screen{
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    font-family:"Cabin", sans-serif;
    line-height: 10px;
}

.splash_screen .description h1{
    font-size: 5vw;
    text-transform: uppercase;
}

.splash_screen .description p{
    font-size: 1.5vw;
}

.splash_screen .redirect{
    margin-top: 60px;
}
.splash_screen .redirect .redirect_button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.splash_screen .redirect button{
    font-size: 1.6vw;
    padding:5px 20px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.splash_screen .redirect button:hover{
    background: linear-gradient(180deg, springgreen, rgb(65, 144, 255));
    text-shadow: 0 1px 2px aliceblue;
    font-style: italic;
}

.splash_screen .redirect .loading{
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(0, 0, 0, 0.773);
    border-radius: 50%;
    width: 1.6vw;
    height: 1.6vw;
    animation: load 1s linear infinite;
}

.splash_screen .redirect p{
    display: none;
}

@keyframes load{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}